TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

TWILIO_API_KEY=
TWILIO_API_SECRET=

TWILIO_CONVERSATION_CONFIGURATION_ID=
TWILIO_VOICE_PUBLIC_DOMAIN=9b1.ngrok-free.app

FLEX_APP_WORKSPACE_SID=
FLEX_APP_WORKFLOW_SID=
FLEX_APP_QUEUE_SID=
FLEX_APP_WORKER_SID=

TWILIO_PHONE_NUMBER=+447700138339
FLEX_APP_TWILIO_WHATSAPP_FROM_NUMBER=+447700138339

TWILIO_STUDIO_HANDOFF_FLOW_SID=FWa9b1e4eb52fe2e5a79e53bc7580f0bcb



OPENAI_MODEL=gpt-4o
OPENAI_API_KEY=

# Dynamic Context Configuration
LLM_CONTEXT=defaultContext.md
LLM_MANIFEST=defaultToolManifest.json